body {
    text-align: center;
}

/* アプリ名 */
#appName {
    font-size: 50px;
}

/* データフォーム */
form {
    margin-bottom: 16px;
}

/* 登録データ */
#regData {
    margin: 0 auto;
}

.regList li {
    background: #ff8181;
    color: #FFF;
    list-style: none;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-radius: 3px;

}

.regList li span {
    padding-right: 10px;
}

.fa-backspance {
    cursor: pointer;
    color: orange;
}

/* 選ぶボタン */
.btn-circle-3d {
    margin: 0 auto 50px;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 35px;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
    user-select: none;
}
  
.btn-circle-3d:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

/* データ削除ボタン */
.btn-square {
    width: 120px;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff8181;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #bd6565;
    border-radius: 3px;
    margin: 0 auto;
    user-select: none;
  }
  .btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

.regList {
    display: inline-block;
    width: auto;
    padding-left: 0;
}
